* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error {
    color: red;
    padding-left: 3px;
    margin-top: 2px;
    font-size: 14px;
}

.feild-form {
    outline: none;
}

.pass-icon {
    font-size: larger;
    cursor: pointer;
}

.Bg-color {
    background-color: #F5F5F7;
}

.success {
    color: #48C952 !important;
}

.hover:hover {
    background-color: #ebebeb;
}

.hover {
    user-select: none;
}

.break-select {
    user-select: none;
}